.card-container{
  position: relative;
  border: 3px solid rgb(90, 88, 88);
  border-radius: 10px;
  width: 350px;
  height: 500px;

  display: flex;
  overflow: hidden;
  margin: 10px 0 10px 0;

}
.card-img{
  min-width: 100%;
  min-height: 100%;
  transition: transform .8s;
}
.card-img:hover{
  transform: scale(1.2);
}
