<div class="container-big-card">
  <div class="big-card-photo">
    <img
      src="https://besthqwallpapers.com/Uploads/22-6-2020/136777/bmw-m235i-xdrive-gran-coupe-4k-2020-cars-es-spec-f44.jpg"
      alt=""
      height="250px"

    >
  </div>
  <div class="big-card-title">
    <h1><a href="#">Nova versão Angular Black Himalayan</a></h1>
  </div>
  <div class="big-card-description">
    <p>
      <a>
        Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao
      </a>
    </p>
  </div>

</div>
